# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysqld]
port=3306
symbolic-links = 0
interactive_timeout = 604800
lower_case_table_names = 1
wait_timeout = 604800
max-connections = 50

slow_query_log=1
slow_query_log_file=/var/magima/log/paas/mysql/slow.log
long_query_time=1
datadir=/opt/magima/mysql/data/
socket=/var/lib/mysql/mysql.sock

innodb_buffer_pool_size = 512M

query_cache_size=16777216
query_cache_type=1
query_cache_limit=524288
character-set-server = utf8

#server_id=2
log-bin=/var/magima/log/paas/mysql/mysql-bin.log
log-bin-index=/var/magima/log/paas/mysql/mysql-bin.index
relay_log=/var/magima/log/paas/mysql/mysql-relay.log
relay_log_index=/var/magima/log/paas/mysql/mysql-relay-bin.index
log_slave_updates
replicate-ignore-db=mysql,information_schema,tooldb,togressa
sync-binlog=1


lower_case_table_names=1
log_bin_trust_function_creators=1
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M

# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin

# These are commonly set, remove the # and set as required.
# basedir = .....
# datadir = .....
# port = .....
# server_id = .....
# socket = .....

# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M 

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 


[client]
default-character-set = utf8
socket=/var/lib/mysql/mysql.sock
port=3306

[mysql]
default-character-set = utf8



[mysqld_safe]
log-error=/var/magima/log/paas/mysql/mysqld.log
pid-file=/opt/magima/mysql/run/mysqld.pid

